:root {
    --experience-and-skills-backgroundcolor:white;
    --line-color:rgb(218, 209, 209);
}

html,body, .experience,.experience-list, .experience-item{  
    margin: 0;
    padding: 0
}



.content{
    display: flex;
    /* align-items: stretch; */
    flex-direction: column;  /*设置宽度较小时（手机模式），排列的方向为纵向*/
    overflow:hidden;   /*取消掉左右的滚动条*/
}

.information{
    display: flex;
    /*flex:1; */
    width:100vw;
    height: 100vh;
    background:url(http://coding.imweb.io/img/project/resume/bg.png) repeat;
    background-color:rgb(70, 128, 236); 
    justify-content: center;   
    align-items: center;
    color:var(--experience-and-skills-backgroundcolor);
    margin:0;
}

.information-bd{  
    margin:0 auto;
    padding-top:200px;
    padding-bottom:400px;
    position:relative;
    justify-content: center;    
}

.user-img{
    top:50px;
    margin:0 auto 0;
    width:100px;
    height:100px;
    box-shadow: 0 0 5px rgba(235, 239, 241, 0.918);
    border:1px;
    border-color: rgb(162, 194, 223);
    border-radius: 50%;
    /* background:var(rgba(235, 239, 241, 0.918)); */
    
    background: url(http://coding.imweb.io/img/project/resume/avatar.png) no-repeat;
    background-size: cover;
    background-color:white;
}



.information .information-bd .user-name{
    text-align: center;
}

.information .information-bd .user-hobbies{
    text-align: center;
}

.information .information-bd .user-information1{
    width:290px;
    text-align: left;
    left:50%;
    /* transform: translateX(-50%); */
    margin-bottom:20px; 
    position:absolute;
    transform: translateX(-50%);
}

.information .information-bd .user-information1 .user-information1-1{
    list-style-type:none;
}
li{
    margin:3%;
}

.information .information-bd .user-information2{
    width:290px;
    /* min-width:300px; */
    text-align: left;
    left:50%;
    margin-top:20px;
    padding-left:5px;
    font-size: 14px;
    border-radius: 4px;
    border: .5px solid rgba(21, 20, 94, .3);
    position:absolute;
    /* transform:translateX(-50%); */
    transform: translate(-50%,100px);
}



.experience-and-skills{
    /* display: flex;
    flex:1; */
    top:0;
    margin:0;
    width:100vw;
    height:100vh;
    text-align:center;
    color:rgb(70, 128, 236);
    background-color:var(--experience-and-skills-backgroundcolor);
}

.experience-and-skills .experience{
    display: inline-block;
    width:95%;
    height: 50%;
    background-color:inherit;
}

.experience-and-skills  .experience-header,
.experience-and-skills  .skills-header{
    margin-top:60px;
    width:95%;
    background: linear-gradient(to right,var(--experience-and-skills-backgroundcolor) 3%,var(--line-color) 3%,var(--line-color) 40%,var(--experience-and-skills-backgroundcolor) 40%,var(--experience-and-skills-backgroundcolor) 60%, var(--line-color) 60%) no-repeat;
    background-size: 100% 1px;
    background-position: right;
}


.experience-and-skills .skills{
    display: inline-block;
    width:95%;
    height: 50%;
    background-color:inherit;
}



.experience-list{
    padding-left: 20px;
    position:relative;
    left:20px;
    flex-direction:column;
    width: 95%;
    /* align-items: left; */
    text-align: left;
    color:rgba(0, 0, 0, 0.63);
    /* border-style: solid;
    border-width: 0 0 0 1.5px;
    border-color: var(--line-color);*/
    /* transform: translateX(-50%);  */
}

.experience-item{
    width: 95%;
}
.experience-list{
    position:relative;
    border-style: solid;
    border-width: 0 0 0 1.5px;
    border-color: var(--line-color);
    margin-bottom:2px;
    transform: translateX(0.6rem); 
}

.experience-item .icon-time{
    position:absolute; 
    left:0;
    transform: translate(-60%,90%);
    border-radius: 50%;
    /* border-color: cornflowerblue; */
    background: cornflowerblue;
    width:10px;
    height:10px;
    box-shadow: 0 0 0 3px rgba(104, 151, 238, .2);
}

.experience-list .experience-item .experience-time,
.experience-list .experience-item .experience-name{
    /* position: relative; */
    font-size: 20px;
    font-weight: bold;
    padding:2px 0;
    margin-bottom: 3px 0;
}


.experience-list p{
    font-size:medium;
    font-family: monospace;
    line-height: 1.9em;
    margin-top:1em;
}


.skills-list{
    position:relative;
    list-style-type:none;
    padding-left: 0;
    align-items: left;
    text-align: left;
    margin-bottom:2px;
    color:rgba(0, 0, 0, 0.63);
}

.skill-header{
    position:relative;
    padding:.5px .5px;
    margin-bottom: 0em;

}

.skill-header .skill-name{
    display: inline-block; 
    flex-grow: 1;
    margin-bottom: 2px;
}

.skill-header .skill-depth{
    position:absolute;/*这里实现技能程度靠右*/
    right:1px; /*这里实现技能程度靠右*/
    display: inline-block;
    margin-bottom: 2px;
    padding:2px 4px;
    /* text-align: right; */
    border:1px solid rgba(163, 159, 159,.5);
    font-style:rgba(163, 159, 159,.5);
    border-radius: 40%;     
}

.skill-detail{
    padding:2px 0 6px 0;
    margin:2px 0 4px 0;
    border-bottom: 2px ;
    border-color: rgb(128, 64, 64);

}

.skills-item p{
    font-size: smaller;
}

/*设置进度条容器*/
.skill-progress{
    height: 4px;
    background: rgba(172, 170, 170,.8);
    width: 100%;
    border-radius: 4px;
    margin:12px 0;   
}

.skill-progress .progress{
    height: 4px;
    background:linear-gradient(to right,rgb(70, 128, 236),rgba(70, 128, 236,.8)) no-repeat left top/100% 4px;
    border-radius: 4px;
}
/*进度条*/
.skills-item:nth-child(1) .progress{
    width: 70%;
}
.skills-item:nth-child(2) .progress{
    width:90%    
}
.skills-item:nth-child(3) .progress{
    width:80%;  
}

@keyframes progressRun{
    from{
        width: 0;
    }        
}
.skills-item:hover .progress{
    animation: progressRun 2s linear 1;    
}


/*头像闪烁动画*/
@keyframes profileRun{
    from{
        box-shadow: 0 0 5px rgba(235, 239, 241, 0.918);
    }
    to{
        box-shadow: 0 0 10px 15px rgba(235, 239, 241, 0.918);
    }
}

.user-img:hover{
    animation: profileRun .5s alternate infinite;
}

/* 工作经历点闪烁 */
@keyframes iconTimeRun{
    from{
        box-shadow: 0 0 0 3px rgba(104, 151, 238, .2);
    }
    to{
        box-shadow: 0 0 0 6px rgba(104, 151, 238, .2);
    }
}
.experience-item:hover .icon-time{
    animation: iconTimeRun .5s alternate infinite;
}

@keyframes run{
    from{transform:translateX(0);}
    33%{transform:translateX(33%);}
    66%{transform:translateX(66%);}
    100%{transform:translateX(100%);}
}

/* @keyframes run{
    0%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width:0%;}
    33%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width:33%;}
    66%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width: 66%;}
    100%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width: 100%;}
}
@-webkit-keyframes run{
    0%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width:0%;}
    33%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width:33%;}
    66%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width: 66%;}
    100%{z-index: 1;border:.8px solid rgba(127, 141, 189,50);width: 100%;}
} */

@media (min-width:768px){
    .content{
        /* display:flex; */
        /* flex-wrap: wrap; */
        flex-direction: row;
    }
    .information{
        flex:1;
        width:50vw;
        height: 100vh;
    }
    .experience-and-skills{
        flex:1;
        width:50vw;
        height:100vh;
        background-color:var(--experience-and-skills-backgroundcolor);
    }
}